<nav id="sidebar-icon-links">
  <a id="cv-link"
     class="icon" title="CV" aria-label="CV"
     href="">
    {% include svg/cv.svg %}
  </a>

  <a id="scholar-link"
     class="icon"
     title="GoogleScholar" aria-label="GoogleScholar"
     href="https://scholar.google.com/citations?user=u0HFXqQAAAAJ&hl=en&oi=ao">
    {% include svg/google_scholar.svg %}
  </a>

    <a id="github-link"
     class="icon" title="Github Project" aria-label="Github Project"
     href="https://github.com/yuwon-shin">
    {% include svg/github.svg %}
  </a>

  <a id="tstory-link"
     class="icon" title="Tstory" aria-label="Tstory"
     href="https://yuwonny.tistory.com/">
    {% include svg/tistory-logo.svg %}
  </a>

  <a id="email-link"
     class="icon" title="Email" aria-label="Email"
     href="mailto:youwon.shin@kaist.ac.kr">
    {% include svg/email.svg %}
  </a>



</nav>
